{extend name="public:base" /}
{block name="main"}
{include file='public/date'}
<style>
    span{
        display: inline-block;
        line-height: 32px;
        padding: 0 25px;
        margin-right: 10px;
        cursor: pointer;
        color: #888;
        background-color: #f4f4f4;
        border: 1px solid #dddddd;
        border-bottom-color: rgb(221, 221, 221);
        border-radius: 5px 5px 0 0;
    }
</style>
<!--百度编辑器的引入-->
<script type="text/javascript" charset="utf-8" src="/static/admin/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/admin/js/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/static/admin/js/ueditor/lang/zh-cn/zh-cn.js"></script>

<style type="text/css">
    div{
        width:100%;
    }
</style>
<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
</script>
<script>
    $(function(){

        //点击所属商品类型 展示对应分组
        $("#type_name").change(function(){
            $("#father").nextAll('tr').remove();
            type_id=$(this).val();
            $.ajax({
                type:'post',
                url:"add_goods_attr",
                data:{
                    type_id:type_id
                },
                dataType:'json',
                success:function(data){
                    if(data.status==1){
                        html='';
                        $.each(data.content,function(k,v){

                            if(v.attr_type==0){
                                html+='<tr>';
                                html+='<td style="width: 150px">';
                                html+= v.attr_name;
                                html+='</td>';
                                if(v.attr_input_type==0){
                                    html+='<td>';
                                    html+='<input  type="text" name="attr_value[]">';
                                    html+='<input  type="hidden" name="attr_id[]" value="'+ v.attr_id+'" >';
                                    html+='<input  type="hidden" name="attr_name[]" value="'+ v.attr_name+'">';
                                    html+='<input  type="hidden" name="attr_type[]" value="'+ v.attr_type+'">';
                                    html+='<input name="attr_price[]" value="0" hidden>';
                                    html+='</td>';
                                }else{
                                    html+='<td>';
                                    $.each(v.input_value,function(k1,v1){
                                        html+='<input  name="attr_value[]" type="radio" value="'+v1+'"> '+ v1;
                                    });
                                    html+='<input  type="hidden" name="attr_id[]" value="'+ v.attr_id+'">';
                                    html+='<input  type="hidden" name="attr_name[]" value="'+ v.attr_name+'">';
                                    html+='<input  type="hidden" name="attr_type[]" value="'+ v.attr_type+'">';
                                    html+='<input name="attr_price[]" value="0" hidden>';
                                    html+='</td>';
                                    html+='</tr>';
                                }
                            }else{
                                html+='<tr>';
                                html+='<td style="width: 150px">';
                                html+= '<em style="color: red" class="jia">[ + ]</em> ' +v.attr_name;
                                html+='</td>';
                                html+='<td>';
                                html+=' <select name="attr_value[]">';
                                html+=' <option value="0">--请选择--</option>';
                                $.each(v.input_value,function(k1,v1){
                                    html+='<option  name="attr_value[]"  value="'+v1+'">'+v1+'</option>';
                                });
                                html+='</select>';
                                html+='<input  type="hidden" name="attr_id[]" value="'+ v.attr_id+'">';
                                html+='<input  type="hidden" name="attr_name[]" value="'+ v.attr_name+'">';
                                html+='<input  type="hidden" name="attr_type[]" value="'+ v.attr_type+'">';
                                html+='【需要加价】<input name="attr_price[]" value="0">';
                                html+='</td>';
                                html+='</tr>';
                            }

                        });
                        $("#father").after(html);
                    }
                }
            })
        });

        //点击加号 规格添加
        $(document).on('click','.jia',function(){
            ht= $(this).parents('tr').html();
           ht= ht.replace('<em style="color: red" class="jia">[ + ]</em> ','<em style="color: red" class="jian">[ - ]</em> ',ht);
            html="<tr>" + ht + "</tr>";
           $(this).parents('tr').after(html);
        });
        //点击减号 整条删除
        $(document).on('click','.jian',function(){
            $(this).parents('tr').remove();
        });
        //点击span1 显示div1 ，点击span2 显示div2 。。。
        $(".div1").show().siblings().hide();
        $(".span2").click(function(){
            $(".div2").show().siblings().hide();
        });
        $(".span3").click(function(){
            $(".div3").show().siblings().hide();
        });
        $(".span1").click(function(){
            $(".div1").show().siblings().hide();
        });

        //点击促销 即可填写促销价格 日期
        $("#cheap").click(function(){
            if($("#cheap").is(':checked')){
                $(".cheap").attr('disabled',false)
            }else{
                $(".cheap").attr('disabled',true)
            }
        })

    })
</script>
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">DouPHP 管理中心<b>></b><strong>添加商品</strong> </div>
    <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="{:url('Goods/goods_show')}" class="actionBtn">商品列表</a>添加商品</h3>
        <span class="span1">基本信息</span>
        <span class="span2">详细描述</span>
        <span class="span3">商品属性</span>
        <form action="{:url('Goods/add_goods')}" method="post" enctype="multipart/form-data">
         <div>
         <div class="div1">
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <td width="90" align="right">商品名称</td>
                    <td>
                        <input type="text" name="goods_name" value="" size="80" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td align="right">商品分类</td>
                    <td>
                        <select name="cate_id">
                            <option value="0">请选择分类</option>
                            {foreach $cate as $key=>$val}
                            <option value="{$val.cate_id}">
                                {:str_repeat("　　",$val['level'])}  {$val.cate_name}
                            </option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">商品品牌</td>
                    <td>
                        <select name="brand_id">
                            <option value="0">请选择品牌</option>
                            {foreach $brand as $key=>$val}
                            <option value="{$val.brand_id}">
                                {$val.brand_name}
                            </option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">是否上架</td>
                    <td>
                        <input type="radio" name="is_show" value="0" />上架
                        <input type="radio" name="is_show" value="0" />下架
                    </td>
                </tr>
                <tr>
                    <td align="right">商品价格</td>
                    <td>
                        <input type="text" name="goods_price" value="0" size="20" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td width="90" align="right">商品库存</td>
                    <td>
                        <input type="text" name="goods_num" size="20" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td width="90" align="right">库存警告数量</td>
                    <td>
                        <input type="text" name="goods_warn_num" size="20" class="inpMain" />
                    </td>
                </tr>
                <tr>

                    <td align="right">
                        <input type="checkbox" name="is_cheap_sale" value="0" id="cheap" />
                        促销价格
                    </td>
                    <td>
                        <input type="text" name="sale_price" value="0" size="40" class="cheap" disabled />
                    </td>
                </tr>
                <tr>
                    <td align="right">促销日期</td>
                    <td>
                        起始日期 ：

                        <input type="text" name="cheap_start"  class="cheap date_picker" style="width:100px;background: #fefefe;border: 1px solid #bbb;font-size: 14px;color: #333;border-radius: 3px;" disabled>
                        结束日期 ：<input type="text" name="cheap_end" value="" class="cheap date_picker" style="width:100px;background: #fefefe;border: 1px solid #bbb;font-size: 14px;color: #333;border-radius: 3px;" disabled>

                    </td>
                </tr>
                <tr>
                    <td align="right">缩略图</td>
                    <td>
                        <input type="file" name="goods_img" size="38" class="inpFlie" />
                        <img src="/static/admin/images/icon_no.png"></td>
                </tr>
                <tr>
                    <td align="right">关键字</td>
                    <td>
                        <input type="text" name="keywords" value="" size="50" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td align="right">简单描述</td>
                    <td>
                        <input type="text" name="goods_desc" value="" size="50" class="inpMain" />
                    </td>
                </tr>

            </table>
         </div>
         <div class="div2">
             <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                 <tr>
                     <td align="right" valign="top">商品描述</td>
                     <td>
                         <textarea name="goods_detail_desc" id="editor" type="text/plain" style="width:900px;height:500px;"></textarea>
                     </td>
                 </tr>
             </table>
         </div>
         <div class="div3">
             <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                 <tr id="father">
                     <td width="100" align="right">所属商品类型</td>
                     <td>
                         <select name="type_id" id="type_name" >
                             <option value="0" >--请选择-- </option>
                             {foreach $type as $key=>$val}
                             <option value="{$val.type_id}">{$val.type_name}</option>
                             {/foreach}
                         </select>
                     </td>
                 </tr>
                 
             </table>
         </div>
         </div>
                    <!--<input type="hidden" name="token" value="21307217" />-->
                    <!--<input type="hidden" name="id" value="">-->
                    <input class="btn" type="submit" value="提交" />

        </form>
    </div>
</div>
<div class="clear"></div>
{/block}