{extend name="public:base" /}
{block name="script"}
    <script>
        $(function(){
            //切换是否显示
            $(document).on('click','.is_show',function(){
                var is_show=parseInt($(this).parents('tr').attr('is_show'));
                cate_id=parseInt($(this).parents('tr').attr('cate_id'));
                $.ajax({
                    type:'post',
                    url:"{:url('Cate/change_show')}",
                    data:{
                        is_show:is_show,
                        cate_id:cate_id
                    },
                    dataType:'json',
                    success: function(data){
                        if(data.status==1){
                           location.href=''
                        }
                    }
                })
            }),
            //切换是否导航栏显示
            $(document).on('click','.is_nav_show',function(){
                    var is_nav_show=parseInt($(this).parents('tr').attr('is_nav_show'));
                    cate_id=parseInt($(this).parents('tr').attr('cate_id'));
                    $.ajax({
                        type:'post',
                        url:"{:url('Cate/change_nav_show')}",
                        data:{
                            is_nav_show:is_nav_show,
                            cate_id:cate_id
                        },
                        dataType:'json',
                        success: function(data){
                            if(data.status==1){
                                location.href=''
                            }
                        }
                    })
                }),
            //即点即改 分类名
            $(document).on('click','.ch_cate_name',function(){
                cate_name=$(this).html();
               $(this).parent().html('<input type="text" class="ch_name" value="'+cate_name+'">')
            }),
            //失焦变回span标签
            $(document).on('blur','.ch_name',function(){
                var new_name=$(this).val()
                cate_id=parseInt($(this).parents('tr').attr('cate_id'));
               if(new_name=='' || new_name==cate_name){
                   $(this).parent().html('<span class="ch_cate_name">'+cate_name+'</span>')
               }else{
                   $.ajax({
                       type:'post',
                       url:"{:url('Cate/change_cate_name')}",
                       data:{
                            new_name:new_name,
                            cate_id:cate_id
                       },
                       dataType:'json',
                       success:function(data){
                           if(data.status==1){
                               $('.ch_name').parent().html('<span class="ch_cate_name">'+data.content+'</span>')
                           }
                       }
                   })
               }
            })

        })
    </script>
{/block}

{block name="main"}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">DouPHP 管理中心<b>></b><strong>商品分类</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="{:url('add_cate')}" class="actionBtn add">添加分类</a>商品分类</h3>

    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="50" align="left">分类名称</th>
        <th width="20">是否显示</th>
          <th width="20">是否导航栏显示</th>
        <th width="20" align="center">价格区间</th>
        <th width="20" align="center">排序</th>
        <th width="80" align="center">操作</th>
      </tr>
    {foreach $cate as $key=>$val}
      <tr cate_id='{$val.cate_id}' is_show="{$val.is_show}" is_nav_show="{$val.is_nav_show}">
        <td align="left"> <a href="javascript:void (0)">
            {:str_repeat('-',$val.level)} <span class="ch_cate_name">{$val.cate_name}</span>
        </a></td>
        <td>
            {if $val.is_show eq 0}
            <span class="is_show">显示</span>
            {else /}
            <span class="is_show">不显示</span>
            {/if}
        </td>
          <td>
              {if $val.is_nav_show eq 0}
              <span class="is_nav_show">显示</span>
              {else /}
              <span class="is_nav_show">不显示</span>
              {/if}
          </td>
        <td align="center">{$val.cate_price_range}</td>
        <td align="center">{$val.cate_order}</td>
        <td align="center"><a href="">编辑</a> | <a href="">删除</a></td>
     </tr>
    {/foreach}
    </table>
</div>
 </div>
 <div class="clear"></div>
{/block}